/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;

  element.style {
}
jumbotron.css:6
.test {
	color: red;
}
.jumbotron {
    background-image: url(group1.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
    color: white;
}
bootstrap.min.css:5
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
bootstrap.min.css:5
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
}
